body {
  font-family: Arial, Helvetica, sans-serif;
  background: #ffffff;
  color: #000000;
  padding: 20px;
}

h1 {
  font-size: 40px;
  margin-bottom: 20px;
}

h2 {
  font-size: 26px;
  margin-top: 25px;
  border-bottom: 3px solid #000;
  padding-bottom: 5px;
}

.box {
  border: 2px solid #000;
  padding: 15px;
  margin-bottom: 15px;
}

input, select {
  width: 80%;
  font-size: 20px;
  padding: 10px;
  margin-top: 5px;
}

button {
  margin-top: 15px;
  font-size: 20px;
  padding: 12px;
  cursor: pointer;
}

button.gerar {
  width: 100%;
  font-size: 20px;
  margin-top: 30px;
}

.item {
  border: 2px solid #000;
  padding: 10px;
  margin-bottom: 10px;
  font-size: 18px;
}

.item button {
  margin-top: 10px;
}

pre {
  background: #f5f5f5;
  padding: 18px;
  font-size: 18px;
  white-space: pre-wrap;
}